<div th:fragment = "add_event" id="modal_edit" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Appointment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form th:action="@{/calendar/store_event}" th:object="${appointment}" method="POST">
          
						<div class="form-group">
								<label for="Patient_Name">Patient Name</label>
								<input type="text" class="form-control" id="patient" list="datalist" onkeyup="get_Patients_Modal(document.getElementById('patient').value)" name="patient" placeholder="Last Name" required>
								<div id="list"></div>
						</div>
							
						<div class="form-group">
								<label for="doctor">Doctor Name</label>
								<input type="text" class="form-control" id="add_doctor" name = "doctor" placeholder="" required>
						</div>
							
							<div class="form-group">
								<label for="Appointment">Starting time</label>
								<input type="text" class="form-control" id="start" name="start" placeholder="" required>
						</div>
							
							<div class="form-group">
								<label for="Appointment">Ending Time</label>
								<input type="text" class="form-control" id="duration" name="duration" placeholder="" required>
						</div>
							
							<div class="form-group">
								<label for="Appointment">Date of Appointment</label>
								<input type="date" class="form-control" id="date" name="date" placeholder="" required>
						</div>
							
							<button type="submit" class="btn btn-primary">Save</button>
					</form>
			
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
	</div>

	<datalist th:fragment= "datalist" id="datalist">
			<option th:each = "patient : ${patients}" th:value="${patient.first_name} + ' ' + ${patient.last_name}"></option>
	</datalist>