
<!doctype html>
<html lang="en">
  <head th:insert="head::header">
  </head>

  <body style="padding-top: 55px;">

    <nav th:insert="navbar2 :: nav2"></nav>


      
      <!-- Sidebar -->
      <div id="sidebar" class="sidebar-offcanvas">
          <div class="col-sm-12">
            <h3>Patients</h3>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" id="patient_search" onkeydown="get_Patients(document.getElementById('patient_search').value)" placeholder="Last Name" aria-label="Search">
              </form>

              <div id="patients"></div>
          </div>
        </div>
      <!-- /#sidebar-wrapper --> 

      <main role="main" class="container">
        <div class="starter-template">
          <h1>Bootstrap starter template</h1>
          <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
      </main><!-- /.container -->
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script src="js/main.js"></script>   
  </body>
</html>
