
<!doctype html>
<html lang="en">
  <head th:insert="layouts/head::header">
  </head>

  <body style="padding-top: 55px;">

    <nav th:insert="layouts/navbar2 :: nav2"></nav>


      
      <!-- Sidebar -->
      <div id="sidebar" class="sidebar-offcanvas">
          <div class="col-sm-12">
            <h3>Patients</h3>
              <input class="form-control mr-sm-2" type="text" id="patient_search" onkeyup="get_Patients(document.getElementById('patient_search').value)" placeholder="Last Name" aria-label="Search">              
              <div id="patients"></div>
          </div>
        </div>
      <!-- /#sidebar-wrapper --> 

      <main role="main" class="container">
        <div id="patient_info" class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3" >

              <div th:replace = "patient/patientInfo :: all_pat_info"></div>
              
          </div>
        </div>
      </main><!-- /.container -->
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script src="js/main.js"></script>   
  </body>
</html>
