<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: header"></head>
<body>

	<div th:replace="navbar :: nav"></div>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<!-- /login?error=true -->
				<div th:if="${#request.getParameter('error') == 'true'}"
						style="color:red;margin:10px 0px;">
					Login Failed!!!<br />
					Reason :
					<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
						th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
							Static summary
					</span>
				</div>

				<div class="login100-pic js-tilt" data-tilt>
					<img src="img/medicine_logo.jpg" alt="IMG">
				</div>

				<form class="login100-form validate-form" name='f' th:action="@{/j_spring_security_check}" method='POST'>
					<span class="login100-form-title">
						Allstar Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid user Id is required: ExSmith_12">
						<input class="input100" type="text" name="user_id" placeholder="User Id">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Office is required">
							<select class="input100"f th:each="office: ${offices}">
								<option th:text="${office.name}" th:value="${office.id}" ></option>
							</select>

							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>


</body>
</html>